.frame {
    @apply bg-neutral-3/50 p-4 pb-8 rounded-3xl flex flex-col gap-4
}

.image {
    width: 100%;
    aspect-ratio: 1.2;
    @apply bg-neutral-3/50 rounded-xl;

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 1.2;
    }
}