.frame {
    display: grid;
    gap: 2rem;
    @apply max-w-[1536px] w-full mx-auto;
    h1 {
        @apply text-5xl p-8 smd:text-2xl md:text-3xl font-bold mdd:truncate border-b border-neutral-3;
    }
}

.listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}