.form {
    @apply flex flex-col w-full max-w-3xl m-auto gap-4 items-center justify-center;

    h1 {
        @apply text-5xl p-8 smd:text-2xl md:text-3xl font-bold mdd:truncate border-b border-neutral-3 w-full text-center;
    }

    h2 {
        @apply text-3xl text-center py-8 smd:text-2xl md:text-3xl font-medium mdd:truncate;
    }

    input, textarea, select {
        @apply w-full max-w-full
    }
}

.ingredient {
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr minmax(104px, 104px);
    align-items: flex-end;
}

.step {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr minmax(104px, 104px);
    align-items: flex-end;
}