.frame {
    @apply w-full flex;

    & > div {
        @apply w-1/2
    }
}

.left {
    @apply flex-1 h-[100dvh] bg-cover bg-center sticky top-0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        //background-color: rgba(0, 0, 0, 0.30);
        z-index: 1;
      }
}

.formContent {
    @apply min-h-[100dvh] flex flex-col p-20 h-full overflow-auto smd:py-20 smd:px-4 smd:w-full md:w-fit md:mx-auto bg-white-1;

    form {
        @apply flex flex-col gap-8 my-auto w-fit;
    }
}

.fields {
    @apply flex flex-col gap-4;
}

.title {
    @apply capitalize text-[2.5rem] font-bold text-neutral-6 mdd:text-center;

    white-space: pre-line;
}